<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="in.vasen.xored.launching.CompositeLaunchConfigurationDelegate"
            id="in.vasen.xored.launcher.launchComposite"
            modes="run,debug"
            name="Composite launch">
      </launchConfigurationType>
   </extension>

</plugin>
