<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="in.vasen.xored.launch.CompositeLaunchConfigurationDelegate"
            id="in.vasen.xored.launch.launchComposite"
            modes="run,debug"
            name="Composite launch">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="in.vasen.xored.launch.launchComposite"
            icon="icons/composite.gif"
            id="in.vasen.xored.launch.launchCompositeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="in.vasen.xored.launch.CompositeLaunchConfigurationDelegate"
            id="in.vasen.xored.launch.launchCompositeDelegate">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="in.vasen.xored.launch.ui.CompositeLaunchConfigurationTabGroup"
            id="in.vasen.xored.launch.ui.launchCompositeTabGroup"
            type="in.vasen.xored.launch.launchComposite">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
